@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ContextMenu Id="myMenu">
    <Item>Submenu
        <SubMenu>
            <Item>Sub-submenu
                <SubMenu>
                    <Item OnClick="@OnClick">Sub-submenu Item 1</Item>
                    <Item OnClick="@OnClick">Sub-submenu Item 2</Item>
                </SubMenu>
            </Item>
            <Item OnClick="@OnClick">Submenu Item 1</Item>
            <Item OnClick="@OnClick">Submenu Item 2</Item>
        </SubMenu>
    </Item>
    <Seperator />
    <Item OnClick="@OnClick">Item 1</Item>
    <Item OnClick="@OnClick">Item 2</Item>
    <Item OnClick="@OnClick" Enabled="false">Item 3 (disabled)</Item>
</ContextMenu>

<ContextMenuTrigger MenuId="myMenu">
    <p style="float: right;">Right-click on me to show the context menu !!</p>
</ContextMenuTrigger>

@code{
    void OnClick(ItemClickEventArgs e)
    {
        Console.WriteLine($"Item Clicked => Menu: {e.ContextMenuId}, MenuTarget: {e.ContextMenuTargetId}, IsCanceled: {e.IsCanceled}, MenuItem: {e.MenuItemElement}, MouseEvent: {e.MouseEvent}");
    }
}
